.Box {
  margin-top: 200px;



  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  font-family: "Oxygen";
  width: 500px;
  height: 340px;
  align-items: center;
  position: fixed;
}
.UnderBox {
  background: inherit;
  position: fixed;
  margin: 20px;
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
    0px 3px 1px -2px rgb(0 0 0 / 12%);
  width: 450px;
  height: 300px;
  border-radius: 10px;
}



.circle {
  width: 29px;
  height: 29px;
  line-height: 25px;
  text-align: center;
  background-color: green;
  color: white;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.stepWrapper {
  display: flex;
  margin-bottom: 20px;
}
.stepBlock .circleWrapper {
  padding: 5px 40px;
  position: relative;
}
.selected .circle {
  color: black;
  background-color: white;
  border-color: green;
}

.stepBlock:not(:last-child) > .circleWrapper::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-color: green;
  margin: auto;
  z-index: -1;
}

.stepBlock:not(:last-child) > .circleWrapper::after {
  height: 3px;
  opacity: 1;
}
.stepBlock:not(:last-child).selected > .circleWrapper::after,
.stepBlock:not(:last-child) > .circleWrapper::after {
  height: 2px;
  opacity: 0.3;
  width: 120px;
}
.bar_Bottons {
  bottom: 0;
  position: absolute;
  width: 100%;
  
   
}

.primaryButtonPrv {
  position: relative;
  padding: 10px 25px;
  background-color: green;
  border: none;
  margin: 10px;
  color: white;
  border-radius: 4px;
  cursor: pointer; 
  bottom: 0;
}
.primaryButtonNext {
  padding: 10px 25px;
  background-color: green;
  position: relative;
  float: right;
  border: none;
  margin: 10px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  bottom: 0;
}
.primaryButtonSubmit {
  padding: 10px 25px;
  background-color: green;
  position: relative;
  float: right;
  border: none;
  margin: 10px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.FirstStep {
  text-align: center;
}
 
.DatePicker > .DatePicker__input {
  font-family: "Trebuchet MS", sans-serif !important;
  text-align: center !important;
  padding: 1rem 1.5rem !important;
  font-size: 1.5rem !important;
  border: 1px solid #24a500 !important;
  border-radius: 20px !important;
  box-shadow: 0 1.5rem 2rem rgba(156, 136, 255, 0.2) !important;
  color: #008000 !important;
  outline: none !important;
}


 

 .ScondSteplabel{
  font-family: "Trebuchet MS", sans-serif ;
  font-size: 1.1rem !important;
 
  padding: 0;
  color: #fff;
 
  line-height: 1.1;
  text-align: center;
  text-shadow: -0.1rem 0.1rem 0.2rem #4527a0;
}

.Second {
  align-items: center;
  justify-content: center;
  font-size:1.6rem;
  line-height: 1.8;
}
.react-tel-input{
  font-family: "Trebuchet MS", sans-serif !important;

}
.react-tel-input .special-label {
  font-family: "Trebuchet MS", sans-serif !important;
  padding: 0 6px !important;
  border-radius: 30px;
  border-top: 1px solid #24a500 !important;

}
.form-control{
  border-radius: 20px!important;
  border: 1px solid #24a500 !important;

}
 

.Input-text {
 
  margin: 0;
  padding: 0.8rem 1.6rem;
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.8;
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow  300ms;
  margin-left: 10%;
  margin-right: 10%;
}
 
.EmailSection{
 
 margin-top: 1.1rem;
  
}
.EmailInput{
  font-family: "Trebuchet MS", sans-serif ;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  border: 1px solid #24a500 !important;
  border-radius: 20px;
  color: #0f5132;
  font-weight: inherit;
  
}
.specialLableEmail{
    position: relative;
    font-family: "Trebuchet MS", sans-serif ;
    width: 125px;
    z-index: 1;
    top:-58px;
    left: 25px;
    display: block;
    background: white;
    padding: 0 5px;
    font-size: 13px;
    white-space: nowrap;
    border-top: 1px solid #24a500;
    border-radius: 20px;
    text-align: center;
}

.LocalisationSection{
   
  align-items: center;
  justify-content: center;
  font-size:1.3rem;
  line-height: 1.8;
  margin-left: 10%;
  margin-right: 10%;
}
.FirstInput{
  font-family: "Trebuchet MS", sans-serif ;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  border: 1px solid #24a500 !important;
  border-radius: 20px;
  color: #0f5132;
  font-weight: inherit;
  width: 100%;
}