.Box {
  margin-top: 200px;

  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  font-family: "Oxygen";
  width: 500px;
  height: 250px;
  align-items: center;
  position: fixed;
}
.UnderBox {
  background: inherit;
  position: fixed;
  margin: 20px;
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
    0px 3px 1px -2px rgb(0 0 0 / 12%);
  width: 450px;
  height: 200px;
  border-radius: 10px;
}

.step-progress {
}

.circle {
  width: 29px;
  height: 29px;
  line-height: 25px;
  text-align: center;
  background-color: green;
  color: white;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.stepWrapper {
  display: flex;
  margin-bottom: 20px;
}
.stepBlock .circleWrapper {
  padding: 5px 40px;
  position: relative;
}
.selected .circle {
  color: black;
  background-color: white;
  border-color: green;
}

.stepBlock:not(:last-child) > .circleWrapper::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-color: green;
  margin: auto;
  z-index: -1;
}

.stepBlock:not(:last-child) > .circleWrapper::after {
  height: 3px;
  opacity: 1;
}
.stepBlock:not(:last-child).selected > .circleWrapper::after,
.stepBlock:not(:last-child) > .circleWrapper::after {
  height: 2px;
  opacity: 0.3;
  width: 120px;
}
.bar_Bottons {
  bottom: 0;
  position: absolute;
  width: 100%;
  
   
}

.primaryButtonPrv {
  position: relative;
  padding: 10px 25px;
  background-color: green;
  border: none;
  margin: 10px;
  color: white;
  border-radius: 4px;
  cursor: pointer; 
  bottom: 0;
}
.primaryButtonNext {
  padding: 10px 25px;
  background-color: green;
  position: relative;
  float: right;
  border: none;
  margin: 10px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  bottom: 0;
}
.primaryButtonSubmit {
  padding: 10px 25px;
  background-color: green;
  position: relative;
  float: right;
  border: none;
  margin: 10px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.FirstStep {
  text-align: center;
}
 
.DatePicker > .DatePicker__input {
  font-family: "Trebuchet MS", sans-serif !important;
  text-align: center !important;
  padding: 1rem 1.5rem !important;
  font-size: 1.5rem !important;
  border: 1px solid #24a500 !important;
  border-radius: 100px !important;
  box-shadow: 0 1.5rem 2rem rgba(156, 136, 255, 0.2) !important;
  color: #008000 !important;
  outline: none !important;
}


@import url('https://fonts.googleapis.com/css?family=Dosis');

:root {
  /* generic */
  --gutterSm: 0.4rem;
  --gutterMd: 0.8rem;
  --gutterLg: 1.6rem;
  --gutterXl: 2.4rem;
  --gutterXx: 7.2rem;
  --colorPrimary400: #7e57c2;
  --colorPrimary600: #5e35b1;
  --colorPrimary800: #4527a0;
  --fontFamily: "Dosis", sans-serif;
  --fontSizeSm: 1.2rem;
  --fontSizeMd: 1.6rem;
  --fontSizeLg: 2.1rem;
  --fontSizeXl: 2.8rem;
  --fontSizeXx: 3.6rem;
  --lineHeightSm: 1.1;
  --lineHeightMd: 1.8;
  --transitionDuration: 300ms;
  --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);
  
  /* floated labels */
  --inputPaddingV: var(--gutterMd);
  --inputPaddingH: var(--gutterLg);
  --inputFontSize: var(--fontSizeLg);
  --inputLineHeight: var(--lineHeightMd);
  --labelScaleFactor: 0.8;
  --labelDefaultPosY: 50%;
  --labelTransformedPosY: calc(
    (var(--labelDefaultPosY)) - 
    (var(--inputPaddingV) * var(--labelScaleFactor)) - 
    (var(--inputFontSize) * var(--inputLineHeight))
  );
  --inputTransitionDuration: var(--transitionDuration);
  --inputTransitionTF: var(--transitionTF);
}

 

 .ScondSteplabel{
  font-family: "Trebuchet MS", sans-serif ;
  font-size: 1.1rem !important;
 
  padding: 0;
  color: #fff;
 
  line-height: 1.1;
  text-align: center;
  text-shadow: -0.1rem 0.1rem 0.2rem #4527a0;
}

.Second {
  align-items: center;
  justify-content: center;
  font-size:1.6rem;
  line-height: 1.8;
}

 
 

.Input-text {
  display: block;
  margin: 0;
  padding: 0.8rem 1.6rem;
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: 2.1rem;
  font-weight: inherit;
  line-height: 1.8;
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow  300ms;
}

.PhoneInputInput {
  border: 1px solid #24a500 !important;
  border-radius: 40px!important;
  margin-left:3px;
  padding-left: 5px;
}